<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd     http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--配置SpringMVC-->
    <mvc:annotation-driven conversion-service="conversionService"/>
    <mvc:default-servlet-handler/>
    <!--(设置url显示前缀后缀)-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!--文件上传配置-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="104857600"/>
        <property name="maxInMemorySize" value="4096" />
    </bean>
    <!--4.扫描web相关的bean,并修改拦截器-->
    <context:component-scan base-package="org.bicyclesharing.web" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:include-filter type="annotation"
                                expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>

    <!--配置管理员登录验证拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/admin-*"/>
            <mvc:exclude-mapping path="/admin-index-login-show"/>
            <mvc:exclude-mapping path="/admin-index-login-execute"/>
            <bean class="org.bicyclesharing.interceptor.AdminLoginInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- 配置管理员高级操作认证拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/admin-admin-*"/>
            <mvc:exclude-mapping path="/admin-admin-password-show"/>
            <mvc:exclude-mapping path="/admin-admin-password-execute"/>
            <bean class="org.bicyclesharing.interceptor.AdvancedOperationsInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--配置用户登录验证拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/user_show"/>
            <bean class="org.bicyclesharing.interceptor.UserLoginInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--数据格式化-->
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionService">
    </bean>

    <!-- 存储区域设置信息:默认语言 -->
    <bean id="localeResolver"
          class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
        <property name="defaultLocale" value="zh_CN" />
    </bean>

    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="defaultEncoding" value="UTF-8" />
        <property name="useCodeAsDefaultMessage" value="true" />
        <property name="basenames" value="show">
        </property>
    </bean>
    <!--重新设置页面的区域化信息-->
    <mvc:interceptors>
        <bean id="localeChangeInterceptor"
              class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
            <property name="paramName" value="lang" />
        </bean>
    </mvc:interceptors>
</beans>