<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">
  <!-- 配置字符编码过滤器-->
  <!-- 字符编码过滤器需要放在所有过滤器的最前边 -->
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <!-- 配置需要转换的字符编码 -->
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>hiddenHttpMethodFilter</filter-name>
    <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>hiddenHttpMethodFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!--用户重复登录监听-->
  <listener>
    <listener-class>org.bicyclesharing.listener.listenerone</listener-class>
  </listener>

  <!--配置DispatcherServlet-->
  <servlet>
    <servlet-name>bicycleSharing-dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring-config/spring-*.xml</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>bicycleSharing-dispatcher</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

    <!--配置错误信息 写代码时最好注释掉 以显示错误-->
  <!--<error-page>-->
    <!--<error-code>404</error-code>-->
    <!--<location>/404.jsp</location>-->
  <!--</error-page>-->
  <!--<error-page>-->
    <!--<error-code>400</error-code>-->
    <!--<location>/400.jsp</location>-->
  <!--</error-page>-->
  <!--<error-page>-->
    <!--<error-code>500</error-code>-->
    <!--<location>/500.jsp</location>-->
  <!--</error-page>-->


  <!--设置会话超时,永不超时-->
  <session-config>
    <session-timeout>0</session-timeout>
  </session-config>
</web-app>
